prune docs/_build

graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include .readthedocs.yml
include .codecov.yml
include pytest.ini
include tox.ini
include setup.py
include pyproject.toml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include requirements.txt
include test_requirements.txt
include test_script.py
recursive-include config *.yaml
recursive-include docs *.rst


global-exclude *.py[cod] __pycache__/* *.so *.dylib *.ipynb
